<.header>
  New Volume
  <:subtitle>Use this form to manage volume records in your database.</:subtitle>
</.header>

<.volume_form changeset={@changeset} action={~p"/volumes"} />

<.back navigate={~p"/volumes"}>Back to volumes</.back>
